.card-content {
  position: absolute;
  top: 6rem;
  height: 30rem;
  cursor: pointer;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.units {
  left: 3rem;
  right: calc(50% + 1.5rem);
  background-image: url("../../assets/img/home-units.png");
}

.courses {
  right: 3rem;
  left: calc(50% + 1.5rem);
  background-image: url("../../assets/img/home-courses.png");
}

.title {
  padding-top: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: rgba(30, 4, 47, 0.6);
}

.description {
  padding-top: 0.5rem;
  color: rgba(135, 99, 158, 0.6);
}
