.image-selector-header {
  margin-left: 1rem;
}

.image-input-btn {
  margin-left: 2rem;
  background-color: #5d306a !important;
}

.image-card {
  width: 200px;
  height: 150px;
  margin: 1rem;
  float: left;
  cursor: pointer;
  opacity: 0.7;
}

.image {
  height: 125px;
}

.image-card:hover {
  opacity: 1;
}

.image-name {
  font-size: 15px;
  font-weight: bold;
}

body {
  width: 800px!important;
}

