<!DOCTYPE HTML>
<html lang="es">

<head>
  <title>image-component</title>
</head>

  <body>

    <div class="image-selector-header">
      <h2>Seleccione una imagen para copiar su ruta</h2>

      <mat-form-field id="unitSearcher">
        <input #input matInput (keyup)="applyFilterImages($event.target.value)" placeholder="Nombre de la imagen">
      </mat-form-field>

      <button mat-mini-fab class="image-input-btn" (click)="fileInput.click()" matTooltip="Añadir imagen" [matTooltipPosition]="'after'">
        <mat-icon>insert_photo</mat-icon>
        <input hidden #fileInput type="file" (change)="saveImage(fileInput)">
      </button>
    </div>

    <div id="spinner-container" *ngIf="showSpinner">
      <img alt="Spinner" id="spinner" src="../../../../assets/img/spinner.gif">
    </div>

    <div *ngFor="let image of imagesResult">
      <mat-card class="image-card">
        <img mat-card-image class="image" src="{{image.image}}" alt="{{image.name}}" (click)="getUrl(image.id)">
        <mat-card-content>
          <div>
            <span class="image-name" (click)="getUrl(image.id)">{{image.name}}</span>
            <mat-icon class="delete-image-icon" (click)="deleteImage(image.id)">delete</mat-icon>
          </div>
        </mat-card-content>

      </mat-card>
    </div>

  </body>
</html>
