.image-selector-header {
  margin-left: 1rem;
}

.image-input-btn {
  margin-left: 2rem;
  background-color: #5d306a !important;
}

.image-card {
  width: 200px;
  height: 150px;
  margin: 1rem;
  float: left;
  cursor: pointer;
  opacity: 0.7;
}

.image {
  height: 125px;
}

.image-card:hover {
  opacity: 1;
}

.image-name {
  font-size: 15px;
  font-weight: bold;
}

body {
  width: 800px!important;
}

#spinner-container {
  width: 100%;
  text-align: center;
}

#spinner {
  height: 4rem;
  width: 4rem;
  margin: 1rem 0 1rem 0;
}

.delete-image-icon{
  margin-left: 4rem;
  margin-top: 0.2rem;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #7f6f92 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #7f6f92 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #7f6f92 !important;
}
