<!DOCTYPE html>
<html>
<body>

    <div id="spinner-container" *ngIf="!moduleResultsReady">
      <img id="spinner" src="../../assets/img/spinner.gif">
      <span id="spinner-text">Cargando...</span>
    </div>

    <div class="center-align module-progress-style">
      <div class="tree-table">
        <span *ngIf="moduleResultsReady">
          <mat-card>
            <mat-card-title>
              Realización y media del módulo
            </mat-card-title>
            <mat-card-content>
              <treetable [tree]="this.moduleResults" [options]="this.treeTableOptions" class="mat-elevation-z8 center-table">
              </treetable>
            </mat-card-content>
          </mat-card>
        </span>
      </div>

      <div *ngIf="this.moduleResultsReady" class="bar-chart">
        <mat-card>
          <mat-card-title>Media de cada sub-módulo</mat-card-title>
          <mat-card-content>
            <ngx-charts-bar-vertical
              [results]="histogram"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="false"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
          </mat-card-content>
        </mat-card>
      </div>

    </div>

</body>
</html>
