<!DOCTYPE html>
<html lang="es">

<head>
  <title>class-progress-component</title>
</head>

<body>
  <div>

    <div id="spinner-container" *ngIf="!classResultsReady">
      <img alt="Spinner" id="spinner" src="../../assets/img/spinner.gif">
      <span id="spinner-text">Cargando...</span>
    </div>

    <div class="top-margin">
      <div class="row">
        <div class="column" *ngIf="this.classResultsReady">
          <mat-card>
            <mat-card-title id="student-average-table">Medias de los alumnos</mat-card-title>
            <mat-card-content>
              <div>
                <mat-form-field class="">
                  <input matInput (keyup)="applyFilterStudent($event.target.value)" placeholder="Nombre del alumno">
                </mat-form-field>
                <mat-icon>search</mat-icon>
              </div>

              <table aria-describedby="student-average-table" mat-table [dataSource]="this.showingClassResults" class="mat-elevation-z8 center-table">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef id="student" class="columnWidth center-align">Alumno</th>
                  <td mat-cell *matCellDef="let element"> {{element.studentName}} </td>
                </ng-container>

                <ng-container matColumnDef="studentRealization">
                  <th mat-header-cell *matHeaderCellDef id="realization" class="columnWidth center-align">% Realización</th>
                  <td mat-cell *matCellDef="let element"> {{element.grades[0].toFixed(2)}}</td>
                </ng-container>

                <ng-container matColumnDef="studentAverage">
                  <th mat-header-cell *matHeaderCellDef id="average" class="columnWidth center-align">Media</th>
                  <td mat-cell *matCellDef="let element"> {{element.average.toFixed(2)}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="classColumnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: classColumnsToDisplay;" class="columnWidth center-align"></tr>
              </table>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="column" *ngIf="this.classGradesReady">
          <mat-card>
            <mat-card-title>Notas de los alumnos agrupadas</mat-card-title>
            <mat-card-content>
              <ngx-charts-bar-vertical
                [results]="this.barChartResults"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxisLabel]="'Media'"
                [yAxisLabel]="'Número de Alumnos'">
              </ngx-charts-bar-vertical>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

  </div>
</body>
</html>
