<!DOCTYPE HTML>
<html lang="es">

<head>
  <title>view-component</title>
</head>

  <body>

    <div id="lateral-panel" [ngClass]="showMenu ? 'left-zero' : 'hidden-menu'">

      <div class="no-results" *ngIf="focusedUnitsService.focusedUnits.length <= 0">Ninguna unidad seleccionada</div>
      <div class="deselect-all-container" *ngIf="focusedUnitsService.focusedUnits.length > 1">
        <span class="deselect-all" (click)="confirmSelectUnit(null)">
          Desmarcar todas&nbsp;
          <mat-icon id="deselect-all-icon">close</mat-icon>
        </span>
      </div>
      <div class="focused-unit-list">
        <div class="result" *ngFor="let unit of focusedUnitsService.focusedUnits" (click)="confirmSelectUnit(unit)">
          <span class="unit-prefix">{{unitService.getUnitPrefixName(unit.name)}}</span>
          <span class="unit-name">{{unitService.getUnitRealName(unit.name)}}</span>
          <mat-icon class="check-box">check_box</mat-icon>
        </div>
      </div>

      <hr>

      <mat-form-field appearance="outline" id="search">
        <mat-label>
          <mat-icon id="search-icon">search</mat-icon>
          <span id="search-label">&nbsp;Buscar unidad</span>
        </mat-label>
        <input id="search-input" matInput [(ngModel)]="searchField" (ngModelChange)="search()"/>
      </mat-form-field>

      <button mat-button class="new-unit-button" (click)="createSeparateUnit()">
        <mat-icon>add</mat-icon>Nueva unidad
      </button>

      <div class="result-list" *ngIf="results.length > 0">
        <span *ngFor="let result of results">
          <div class="result" (click)="confirmSelectUnit(result)" *ngIf="!focusedUnitsService.focusedUnitIds.has(result.id.toString())">
            <span class="unit-prefix">{{unitService.getUnitPrefixName(result.name)}}</span>
            <span class="unit-name">{{unitService.getUnitRealName(result.name)}}</span>
            <mat-icon class="check-box">check_box_outline_blank</mat-icon>
          </div>
        </span>
      </div>
    </div>

    <mat-icon id="hide-menu-button" [ngClass]="showMenu ? 'show-hide-menu-button' : 'hidden-hide-menu-button'" (click)="setShowMenu(!showMenu)">reorder</mat-icon>

    <div id="top-panel">
      <span *ngIf="showDiagram">
        <mat-form-field [ngClass]="showMenu ? 'level-selector level-selector-with-menu' : 'level-selector'">
          <mat-label>Nivel padres</mat-label>
          <mat-select [value]="parentLevel">
            <mat-option *ngFor="let level of selectLevelOptions" [value]="level" (click)="reloadLevels(level, null)">
              <span *ngIf="level != -1">{{level}}</span>
              <span *ngIf="level == -1">Todos</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field [ngClass]="showMenu ? 'level-selector level-selector-with-menu' : 'level-selector'">
          <mat-label>Nivel hijos</mat-label>
          <mat-select [value]="childrenLevel">
            <mat-option *ngFor="let level of selectLevelOptions" [value]="level" (click)="reloadLevels(null, level)">
              <span *ngIf="level != -1">{{level}}</span>
              <span *ngIf="level == -1">Todos</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </span>
    </div>

    <button *ngIf="showDiagram" mat-button [ngClass]="ableToSave ? 'save-button save-button-enabled' : 'save-button'" (click)="save(null, null, null)" matTooltip="Guardar (Ctrl + S)">
      <mat-icon>save</mat-icon>
    </button>

    <div id="spinner-container" *ngIf="showSpinner">
      <img alt="Spinner" id="spinner" src="../../assets/img/spinner.gif">
      <span id="spinner-text">Cargando...</span>
      <div id="prevent-click"></div>
    </div>

    <span *ngIf="showDiagram && unitNameErrors" id="name-errors">
      Hay unidades con nombres repetidos
    </span>

    <div *ngIf="!showDiagram" id="tips">
      <h2>Ninguna unidad seleccionada</h2>
      Crea nuevas unidades o busca una para ver su diagrama
    </div>

    <div #uml [hidden]="!showDiagram"></div>
    <div #umlNodeOptions (window:resize)="updateUmlNodeOptions()">
      <input id="uml-edit-input" (change)="updateUnitName()">
      <div id="uml-node-options">

        <button id="inheritance-outgoing-button" class="uml-options-button" matTooltip="Crear relación de herencia"><img alt="Inheritance-outgoing" src="../../assets/img/add-inheritance-outgoing.png" height="15"></button>
        <br>
        <button id="composition-outgoing-button" class="uml-options-button" matTooltip="Crear relación de composición"><img alt="Composition-outgoing" src="../../assets/img/add-composition-outgoing.png" height="15"></button>
        <br>
        <button id="aggregation-outgoing-button" class="uml-options-button" matTooltip="Crear relación de agregación"><img alt="Aggregation-outgoing" src="../../assets/img/add-aggregation-outgoing.png" height="15"></button>
        <br>
        <button id="association-outgoing-button" class="uml-options-button" matTooltip="Crear relación de asociación"><img alt="Association-outgoing" src="../../assets/img/add-association-outgoing.png" height="15"></button>
        <br>

        <button class="delete-button uml-options-button" (click)="confirmDeleteUnit()" matTooltip="Eliminar unidad">
          <mat-icon class="button-icon">delete</mat-icon>
        </button>

      </div>
    </div>

    <div #umlPathOptions (window:resize)="drawUmlPathOptions()" [hidden]="!showUmlPathOptions">
      <div id="uml-path-options">
        <div *ngIf="selectedRelationType!=='INHERITANCE'">
          <button id="inheritance-relation-button" class="uml-options-button uml-relation-button" matTooltip="Cambiar tipo de relación a herencia"><img alt="Inheritance-outgoing" src="../../assets/img/add-inheritance-outgoing.png" height="15"></button>
          <br>
        </div>
        <div *ngIf="selectedRelationType!=='COMPOSITION'">
          <button id="composition-relation-button" class="uml-options-button uml-relation-button" matTooltip="Cambiar tipo de relación a composición"><img alt="Composition-outgoing" src="../../assets/img/add-composition-outgoing.png" height="15"></button>
          <br>
        </div>
        <div *ngIf="selectedRelationType!=='AGGREGATION'">
          <button id="aggregation-relation-button" class="uml-options-button uml-relation-button" matTooltip="Cambiar tipo de relación a agregación"><img alt="Aggregation-outgoing" src="../../assets/img/add-aggregation-outgoing.png" height="15"></button>
          <br>
        </div>
        <div *ngIf="selectedRelationType!=='ASSOCIATION'">
          <button id="association-relation-button" class="uml-options-button uml-relation-button" matTooltip="Cambiar tipo de relación a asociación"><img alt="Association-outgoing" src="../../assets/img/add-association-outgoing.png" height="15"></button>
          <br>
        </div>

        <button id="flip-button" class="uml-options-button" matTooltip="Voltear relación"><img alt="Flip" src="../../assets/img/flip.png" height="15"></button>
        <br>

        <button class="delete-button uml-options-button" (click)="deleteRelation()" matTooltip="Eliminar relación">
          <mat-icon class="button-icon">delete</mat-icon>
        </button>

      </div>
    </div>

    <svg id="svg">
      <path #umlNewPath id="path"></path>
    </svg>

    <div id="notification-container">
      <mat-card class="notification" *ngIf="clickTutorialNotification">
        <mat-icon>live_help</mat-icon><br>
        <strong>Doble click</strong> para entrar<br>
        <strong>Click derecho</strong> para editar
        <mat-icon class="close-notification" (click)="closeClickTutorialNotification()">close</mat-icon><br>
      </mat-card>
      <mat-card class="notification" *ngIf="newUnitNotification">
        <mat-icon>live_help</mat-icon><br>
        Esa es una unidad nueva<br>
        <strong>Guarda</strong> para poder entrar
        <mat-icon class="close-notification" (click)="closeNewUnitNotification()">close</mat-icon><br>
      </mat-card>
    </div>

  </body>
</html>
