<!DOCTYPE HTML>
<html lang="es">

<head>
  <title>lesson-slides-tool-component</title>
</head>

  <body>

    <h2>Selecciona una unidad para ver sus lecciones</h2>
    <h4>Después seleciona una slide para copiar su ruta</h4>

    <mat-form-field id="unitSearcher">
      <input #input matInput (keyup)="applyFilterUnits($event.target.value)" placeholder="Nombre de la unidad">
    </mat-form-field>

    <div id="spinner-container" *ngIf="showSpinner">
      <img alt="Spinner" id="spinner" src="../../../../assets/img/spinner.gif">
    </div>

    <mat-accordion *ngFor = "let unit of this.unitsResult">
      <mat-expansion-panel class="card">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{unit.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor = "let lesson of unit.lessons">
          <mat-card class="lesson-card">
            {{lesson.name}}
            <div *ngFor = "let slide of lesson.slides">
              <mat-card class="sub-card" (click)="openLink($event, 'insert.slide/' + unit.name + '/' + lesson.name + '/' + slide.name)">
                {{slide.name}}
              </mat-card>
            </div>
          </mat-card>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </body>
</html>
