.header {
  position: fixed;
  z-index: 1000;
  height: 3rem;
  top: 0;
  right: 0;
  left: 0;
  color: white;
  font-size: 0.8rem;
}

.user-header {
  background-color: #05132f;
}

.admin-header {
  background-color: #1e042f;
}

#user-name {
  position: absolute;
  top: 0.8rem;
  right: 3rem;
  margin: 0.2rem;
}

#logout-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.2rem;
}

.mat-icon {
  padding: 0;
  margin: -0.1rem 0 0 0;
}

.nav-button {
  margin-left: 0;
  padding: 0 0.5rem 0 0.5rem;
  display: flex;
  height: 3rem;
  top: 0;
  border-radius: 0;
}

.home-button {
  margin-left: 0;
  display: flex;
  height: 3rem;
  top: 0;
  border-radius: 0;
}

.nav-button-link {
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;
}

.nav-button-link:focus {outline:0;}

.nav-button-image {
  display: flex;
  margin: -0.5rem 0 -0.5rem 1.5rem;
}

.nav-button-icon {
  font-size: 20px;
  display: flex;
  margin: -0.5rem 0 -1rem 1rem;
}

.nav-home-button {
  position: absolute;
  margin: -0.7rem 0 0 1.5rem;
}

.user-nav-button {
  background-image: linear-gradient(to right, #0d2865 0, #05132f 1rem);
}

.admin-nav-button {
  background-image: linear-gradient(to right, #804391 0, #1e042f 1rem);
}

.nav-home-name {
  display: inline-block;
  margin-left: 1.25rem;
  margin-right: 0.5rem;
  min-width: 2rem;
  margin-top: 0.8rem;
}

.nav-button-name {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  min-width: 2rem;
  margin-top: 0.8rem;
}

.nav-button-title {
  position: absolute;
  top: -0.3rem;
  font-size: 0.7rem;
}

.admin-nav-button-title {
  color: #dcc3e3;
}

.user-nav-button-title {
  color: #abb8d4;
}

.nav-button-content {
  position: relative;
  top: 0.3rem;
}

#super-tab-wrapper::-webkit-scrollbar {
  display: none;
}

.super-tab-wrapper {
  margin-right: 13rem;
  top: 0;
  display: inline-flex;
  overflow: auto;
  white-space: nowrap;
  width: 90%;
  position: absolute;
  -ms-overflow-style: none;
}

.admin-super-tab-wrapper {
  margin-left: 4.5%;
  width: 85% !important;
}

.tab-wrapper {
  margin-left: 1rem;
}

.active-tab {
  opacity: 1 !important;
  background-color: #5d306a !important;
}

.user-active-tab {
  opacity: 1 !important;
  background-color: #30376a !important;
}

.tab-button {
  opacity: 0.6;
  margin-left: 0;
  padding-right: 2.2rem;
  cursor: pointer;
  display: inline;
  background-color: #332e34;
  border-radius: 1rem 1rem 0 0;
  height: 2.6rem;
  top: 0.4rem;
}

.user-tab-button {
  background-color: #242846;
}

.tab-button-name {
  display: inline-block;
  min-width: 2rem;
  text-align: left;
}

.tab-button-title {
  position: absolute;
  top: -0.4rem;
  font-size: 0.7rem;
  color: #dcc3e3;
}

.user-tab-button-title {
  color: #b8c9e3 !important;
}

.tab-button-content {
  position: relative;
  top: 0.3rem;
}

.unit-prefix {
  color: #ad9ab2;
}

.close-tab {
  position: absolute;
  right: 0.4rem;
}

.close-tab:hover {
  color: indianred;
}
