<!DOCTYPE HTML>
<html>
  <body>

    <div *ngIf="loginService.isLogged" [ngClass]="loginService.isAdmin ? 'header admin-header' : 'header user-header'">

      <div mat-button *ngIf="loginService.isAdmin" class="home-button admin-nav-button">
        <div class="nav-button-link" [routerLink]="['/']" (click)="this.tabService.deactivateTabs()">
          <mat-icon class="nav-home-button">home</mat-icon>
          <div class="nav-home-name">Inicio</div>
        </div>
      </div>

      <div [ngClass]="loginService.isAdmin ? 'super-tab-wrapper admin-super-tab-wrapper' : 'super-tab-wrapper'">

        <div mat-button *ngIf="loginService.isAdmin" class="nav-button admin-nav-button">
          <div class="nav-button-link" [routerLink]="['/unit']" (click)="this.tabService.deactivateTabs()">
            <img class="nav-button-image" src="../../assets/img/uml-icon.png" height="15">
            <div class="nav-button-name">Unidades</div>
          </div>

          <div class="tab-wrapper" *ngIf="loginService.isAdmin && (this.tabService.unitTabs.length > 0)">
            <button mat-button [ngClass]="tab.isActive ? 'tab-button active-tab' : 'tab-button'" *ngFor="let tab of this.tabService.unitTabs" [routerLink]="[tab.link]" (click)="tabService.activateTab(tab)">
              <div class="tab-button-name">
                <span class="tab-button-title admin-nav-button-title">{{tab.type}}</span>
                <span class="tab-button-content">
                  <span class="unit-prefix">{{unitService.getUnitPrefixName(tab.name)}}</span>
                  {{unitService.getUnitRealName(tab.name)}}
                </span>
                <mat-icon class="close-tab" (click)="this.closeTab(tab)">close</mat-icon>
              </div>
            </button>
          </div>
        </div>

        <div mat-button [ngClass]="loginService.isAdmin ? 'nav-button admin-nav-button' : 'nav-button user-nav-button'">
          <div class="nav-button-link" [routerLink]="['/courses']" (click)="this.tabService.deactivateTabs()">
            <mat-icon class="nav-button-icon">class</mat-icon>
            <div class="nav-button-name">Cursos</div>
          </div>

          <div class="tab-wrapper" *ngIf="(this.tabService.courseTabs.length > 0)">
            <button mat-button [ngClass]="(tab.isActive && loginService.isAdmin) ? 'tab-button active-tab' : (loginService.isAdmin ? 'tab-button' : (tab.isActive ? 'tab-button user-tab-button user-active-tab' : 'tab-button user-tab-button'))"
                    *ngFor="let tab of this.tabService.courseTabs" [routerLink]="[tab.link]" (click)="tabService.activateTab(tab)">
              <div class="tab-button-name">
                <span [ngClass]="loginService.isAdmin ? 'tab-button-title admin-nav-button-title' : 'tab-button-title user-tab-button-title'">{{tab.type}}</span>
                <span class="tab-button-content">{{tab.name}}</span>
                <mat-icon class="close-tab" (click)="this.closeTab(tab)">close</mat-icon>
              </div>
            </button>
          </div>
        </div>

        <div class="tab-wrapper" *ngIf="(this.tabService.lessonTabs.length > 0)">
          <button mat-button [ngClass]="tab.isActive ? 'tab-button user-tab-button user-active-tab' : 'tab-button user-tab-button'" *ngFor="let tab of this.tabService.lessonTabs" [routerLink]="[tab.link]" (click)="tabService.activateTab(tab)">
            <div class="tab-button-name">
              <span [ngClass]="loginService.isAdmin ? 'tab-button-title admin-nav-button-title' : 'tab-button-title user-tab-button-title'">{{tab.type}}</span>
              <span class="tab-button-content">{{tab.name}}</span>
              <mat-icon class="close-tab" (click)="this.closeTab(tab)">close</mat-icon>
            </div>
          </button>
        </div>

      </div>

      <span id="user-name">{{loginService.user.name}}</span>
      <button mat-icon-button id="logout-button" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>

    </div>

  </body>
</html>
