#searcher {
  margin-left: 30%;
}

.card {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.cardin {
  margin: 0.5rem;
}

.add-course-tooltip{
  margin-left: 43%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #aba0bb !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #aba0bb !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: #aba0bb !important;
}

::ng-deep .mat-input-element {
  caret-color: #aba0bb !important;
}

::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: #aba0bb !important;
}

::ng-deep .mat-form-field-label {
  color: rgba(0,0,0,.6)!important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #aba0bb !important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #aba0bb !important;
}

body {
  width: 800px!important;
}
